body{
    background-color: black;
    color: antiquewhite;
}
div{
    background-color: aliceblue;
    color:rgb(228, 228, 236);
}h1{
    color: rgb(179, 233, 16);
}.div1{
    background-color: black;
color: brown;

}h1{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}.div2{
    background-color: black;
}

